<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Система управління записами на індивідуальні та групові заняття з аналітикою та
        Telegram-ботом{% endblock %}</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a>
    <a href="/lessons">Lessons</a>
    <a href="/staff">Staff</a>
    <a href="/contact">Contact</a>

    {% if request.session.get('user') %}
        <span>Вітаю, {{ request.session['user'] }}!</span>
        <a href="/logout">Вийти</a>
        <a href="/profile">Мій профіль</a>
    {% else %}
        <a href="/login">Увійти</a>
        <a href="/register">Зареєструватися</a>
    {% endif %}
</nav>
<hr>
{% block content %}{% endblock %}
</body>
</html>
