{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <h1>Форма входу</h1>

    <form method="POST" action="/login">
        <div>
            <label for="email">Email:</label>
           <input type="email" id="email" name="email" value="{{ email | default('') }}" required>
        </div>

        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Увійти</button>
        <a href="/auth/google">
        <button type="button">Увійти через Google</button>
    </a>
            <p>Немає акаунта? <a href="/register">Зареєструватися</a></p>
            <p>Забули пароль? <a href="/forgot_password">Відновити</a></p>
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
{% endblock %}
