{% extends "base.html" %}


{% block title %}Відновлення пароля — LinguaPro{% endblock %}


{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/profile/reset_password.css') }}">
{% endblock %}


{% block content %}
<div class="reset-wrapper">
    <div class="reset-card">


        <div class="reset-header">
            <h1>🔐 Встановіть новий пароль</h1>
            <p>Введіть новий пароль для вашого облікового запису</p>
        </div>


        {% if not token %}
        <div class="reset-message error">Недійсний або прострочений токен</div>
        {% else %}


        <form method="POST" class="reset-form">
            <input type="hidden" name="token" value="{{ token }}">


            <div class="form-group">
                <label>Новий пароль</label>
                <input type="password" name="password" placeholder="Введіть новий пароль" required minlength="6">
            </div>


            <div class="form-group">
                <label>Підтвердіть пароль</label>
                <input type="password" name="password_confirm" placeholder="Повторіть пароль" required minlength="6">
            </div>


            <button type="submit" class="reset-btn">🔁 Змінити пароль</button>
        </form>
        {% endif %}


        {% if error %}
        <div class="reset-message error">{{ error }}</div>
        {% endif %}


    </div>
</div>
{% endblock %}